{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

    {% if macros %}
        <h2>Your Daily Needs:</h2>
        <ul>
            <li>Calories: {{ macros.calories }}</li>
            <li>Protein: {{ macros.protein_g }} g</li>
            <li>Carbs: {{ macros.carbs_g }} g</li>
            <li>Fat: {{ macros.fat_g }} g</li>
        </ul>
{% endif %}
{% endblock content %}