{% extends 'tracker/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>My Profile</h1>
    <div class="content-section">
          <h2 class="account-heading">{{ user.username }}</h2>
        </div>
    </div>

    <p><strong>Age:</strong> {{ profile.age }} years old</p>
    <p><strong>Weight:</strong> {{ profile.weight }} kg</p>
    <p><strong>Height:</strong> {{ profile.height }} cm</p>
    <p><strong>Gender:</strong> {{ profile.get_gender_display }}</p>
    <p><strong>Activity Level:</strong> {{ profile.get_activity_level_display }}</p>
    <p><strong>Goal:</strong> {{ profile.get_goal_display }}</p>

    <hr>

    <h2>Daily Needs</h2>
    <p><strong>Calories Needed:</strong> {{ daily_calories }} kcal</p>

    <h3>Macronutrients</h3>
    <ul>
        <li><strong>Protein:</strong> {{ daily_macros.protein_g }} g</li>
        <li><strong>Carbs:</strong> {{ daily_macros.carbs_g }} g</li>
        <li><strong>Fat:</strong> {{ daily_macros.fat_g }} g</li>
    </ul>

    <a href="{% url 'edit_profile' %}">
      <button>Edit Profile</button>
    </a>
      
{% endblock content %}